div.scrollmenu {
    background-color:#990000;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color:#c00000;
    transition: 0.5s;
}


.daohang ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#c00000;
    
  }
  
.daohang  li{
    float:left;
  }
  
.daohang  li a, .dropbtn
  {
    display:inline-block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
  }
  


.daohang  li a:hover, .dropdown:hover
  {
    background-color:#990000;
    
    transition: 0.7s;
  }
  
  .dropdown
  {
    display:inline-block;
  }
  
  .dropdown-content
  {
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:160px;
    box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a
  {
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display:block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content
  {
    display:block;
  }


  /* 创建三个相等的列 */
.column {
  float: left;
  width: 25%;
}
 
/* 列后清除浮动 */
.row:after {
  content: "";
  display: table;
  clear: both;
}
 


  