@charset "utf-8";
*{margin: 0px;padding: 0px;}
body{font-family: "微软雅黑";font-size: 14px;color: #666;background-color:#fff!important;}
ul,li{list-style: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
table{width: 100%;border-collapse: collapse;}
img{border: none;}
i,em{font-style: normal;}
.wnclear{clear: both;}
/*liebiao*/
.wm-header{background: #203d80;width: 100%;height: 100px;overflow: hidden;margin:0 auto;}
.wm-main{width:100%;height: auto;margin:0 auto;}
.wm-main .wm-mainLeft{width: 245px;height:100%;overflow: hidden;float: left;background:#25629b;}
.wm-main .wm-mainRight{padding: 5px 10px;margin:0 auto;}
.wm-right{height: 55px;line-height: 55px;border-bottom: 1px solid #ddd;}
.tb span{background: url(../images/shouye_03.png) no-repeat; font-size: 14px;color: #666;padding-left: 30px;margin-left: 10px;}
.wm-content{width: 80%;height: auto;overflow: hidden;margin:20px;}
.wm-content .wm-Rtitle{height:36px;line-height: 36px;text-align: center;font-size: 20px;color: #203d80;margin-bottom: 20px;font-family: "微软雅黑 bold";}
.wm-content .wm-box table{width: 100%;border-left: 1px solid #ddd;border-top:1px solid #ddd;}
.wm-content .wm-box table tr td{line-height: 50px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.wm-content .wm-box table tr td:nth-child(odd){color:#34495e;text-align: left;padding-left: 20px;} 
.wm-biao2{border:1px solid #ddd;border-top:1px solid #fff;padding: 20px;}
.wm-biao2 .wm-main-con{height: 45px;line-height: 45px;}
.wm-biao2 .wm-main-con .wm-cLeft{float: left;font-size: 14px;color: #666;}
.wm-biao2 .wm-main-con .wm-cRight{float: right;font-size: 14px;color: #666;}
.wm-biao2 .wm-text textarea{height: 100px;border: 1px solid #ddd;width: 100%;resize:none;padding:5px;font-size:14px;color:#666;}
.wm-btn{text-align: center;margin-top: 20px;}
.wm-btn a{width: 120px;height: 36px;line-height: 36px;background:#ec6941;border-radius: 3px;text-align: center;display: inline-block;color: #fff;text-decoration: none;}

.dq{background:  url(../images/shouye_03.png) 0 17px no-repeat;padding-left: 30px;}

/*会员2*******************************************************/
.wm-title{text-align: center;height: 50px;line-height: 50px;margin-bottom: 20px;margin-left: 230px;}
.wm-name1{width: 32px;line-height: 32px;height: 32px;border-radius: 30px;display: inline-block;text-align: center;background: #6cbe56;color: #fff; font-size: 14px;}
.wm-name2{width: 100px;height: 5px;border-radius: 3px;padding-left: 10px;padding-right: 10px;background: #6cbe56;display: inline-block;}
.wm-m1{float: left;overflow:hidden;}
.wm-col-name{background: url(../images/wn-dian_03.png) 20px 20px no-repeat;padding-left: 40px!important;color: #34495e;font-size: 16px;}
.wm-bg-tit{background:#f8f8f8;font-family: "微软雅黑";font-weight: bold;}
.wm-biao2 p{line-height: 24px;font-size: 14px;color: #666;}
.wm-biao3 {padding: 20px;border:1px solid #ddd;border-top:1px solid #fff;}
.wm-biao3 table{border-left: 1px solid #ddd;border-top:1px solid #ddd;}
.wm-biao3  table tr td{line-height: 50px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center!important;}
.wm-biao3  table tr td:nth-child(odd){color:#34495e;text-align:center!important;padding: 0!important; background: #f5f6fa}
.wm-checkbox [type="checkbox"]{vertical-align: middle;margin-right:5px;margin-left: 20px;margin-top: -4px;}
.wm-checkbox{height: 40px;line-height: 40px;font-size: 14px;color: #d72323}
.wm-btn1{text-align: center;margin-top: 20px;}
.wm-btn1 a{width: 120px;height: 36px;line-height: 36px;border-radius: 3px;text-align: center;display: inline-block;color: #fff;text-decoration: none; margin-left: 20px;margin-right: 20px;}
.wm-btn1 .wm-tn{background:#ec6941;}
.wm-btn1 .wm-shang{background: #bebbba;}
/*杰出列表2*/
.wm-name3{background: url(../images/er_03.png) no-repeat;display: inline-block;width: 32px;height: 32px;line-height: 32px;}
.wm-name4{width: 100px;height: 5px;border-radius: 3px;padding-left: 10px;padding-right: 10px;background: #ddd;display: inline-block;}
.wm-box table tr td [type="text"]{width: 150px;height: 24px;line-height: 24px;background: #fff;font-size: 14px;color:#0077d6;display:inline-block;border:1px solid #fff;border-radius: 3px;border-radius: 3px;padding-left: 5px;font-family: "微软雅黑 bold";}
.wm-box  table tr td input:disabled{color:#999!important;}
.wm-sc-list{line-height: 30px;border-bottom: 1px solid #ddd;}
.wm-sc-list span{font-size: 12px;color:#666;padding-right: 10px;}
.wm-sc-list a{font-size: 14px;color:#1158b8;margin-left: 5px;}
.wm-file{margin-top: 10px;height: 45px;line-height: 45px;font-size: 14px;color: #666;}
.wm-file [type="file"]{width: 200px;height:24px;line-height: 24px;border:1px solid #ccc;font-size: 14px;color: #666;border-radius: 3px;margin-right: 10px;}
.wm-file .uploading{width:70px;height: 24px;line-height: 24px;border:1px solid #ddd;border-radius: 3px;display: inline-block;text-align: center;font-size: 14px;color: #666;margin-left: 20px;}
.wm-format{height: 45px;line-height: 45px;margin-top:5px;background: url(../images/tip_03.png) 0 12px no-repeat;font-size: 14px;color: #999;padding-left: 25px;}

/*2017-08-15 14:30*****************************************/
.wm-main-new{overflow: hidden;height: auto;margin-top: 20px;}
.wm-main-new .wm-newLeft{width: 380px;height: auto;float: left;width: 390px;}
.wm-main-new .wm-newLeft .wm-logo{background: url(../images/huiyuan_03.png) 	 no-repeat;height: 212px;}
.wm-main-new .wm-newLeft .wp-name{height: 36px;line-height: 36px;margin-left: 170px;padding-top: 10px;}
.wm-main-new .wm-newLeft .wp-name a{font-size:16px;color: #000066;}
.wm-main-new .wm-newLeft .wp-name i{font-size: 16px;color: #fc8607;margin-left: 30px;}
.wm-main-new .wm-newLeft .wm-time{padding-top: 65px;margin-left:30px;}
.wm-main-new .wm-newLeft .wm-time p{height: 30px;line-height: 30px;}
.wm-main-new .wm-newLeft .wm-time span{width: 200px;text-align: right;display: inline-block; color: #00449b;font-size: 14px;}
.wm-main-new .wm-newLeft .wm-time a{font-size: 14px;color: #666;font-family: "微软雅黑";}
.wm-newRight{float: left;overflow: hidden;height: auto;width: 550px;}
.wm-newRight .wm-newname{margin-top:25px;height: 36px;line-height: 36px;font-size: 18px;color: #000;}
.wm-newRight .wm-newname em{color:#fc8607;}
.wm-newRight .wm-xq{line-height: 26px;font-size: 15px;color: #666;margin-top: 15px;}
.wm-newRight .wm-xq em{color: #3f71e4;}
.wm-mz{margin-top: 20px;}
.wm-mz a{padding:0 20px;font-size: 14px;color: #fff;background: #fc8607;height: 36px;line-height: 36px;display: inline-block;text-align: center;border-radius:3px;}
.wm-box5{background:#f9f9f9;padding:15px;margin-top: 30px;}
.wm-box5 .wm-tr{height: 36px;line-height: 36px;background: url(../images/jiehuc_07.png) 0 10px no-repeat;padding-left:20px;margin-left: 20px;font-size: 16px;color: #666;margin-bottom: 15px; }
.wm-box5 table{width: 970px;border-left: 1px solid #ddd;border-top:1px solid #ddd;}
.wm-box5 table tr td{line-height:42px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.wm-box5 .wm-title-mn td{background:#f5f6fa;}

.wp-content{width: 90%;margin:0 auto;}
.wp-lp{text-align: left;line-height: 36px!important;}
.wp-lp textarea{border:1px solid #fff; width:550px;margin-top: 10px;height: 40px;resize: none;}

/*denglu******************************************************/
.wp-header{width:1200px;height: auto;margin:40px auto 0;overflow: hidden;}
.wp-header .header-left{height:65px;line-height:65px;overflow: hidden;float: left;}
.wp-header .header-left img{float: left;}
.wp-header .header-left a{font-size:24px;color: #888;padding-left: 10px;}
.wp-header .header-right{float: right;height: 55px;line-height:80px;vertical-align:bottom;}
.wp-header .header-right span{background: url(../images/wm-logo_03.jpg) 0 1px no-repeat;padding-left: 23px;font-size: 16px;color: #000}
.wp-header .header-right a{font-size: 16px;color: #32539c;}
 html, body {
        position: relative;
        height: 100%;
    }
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.wp-main{width: 100%;height:auto;margin:0 auto;}
.wp-border{border:1px solid #ddd;padding: 15px;line-height: 30px;font-size: 14px;color: #666;}
.wm-search{height: 45px;line-height: 45px;overflow: hidden;margin-top: 20px}
.wm-search [type="text"]{width: 230px;height: 30px;line-height: 30px;border:1px solid #ddd;padding-left: 5px;border-radius: 3px;font-size: 14px;color: #666;outline:none}
.wm-search a{width: 100px;height: 32px;line-height: 32px;border-radius: 3px;text-align: center;display: inline-block;font-size: 14px;color: #fff;background:#fe9a05;margin-left: 10px;}

.wp-box{margin-top: 20px;overflow: hidden;}
.wp-box table{width: 970px;border-left: 1px solid #ddd;border-top:1px solid #ddd;margin-bottom: 20px;}
.wp-box table tr td{line-height:42px;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;text-align: center;}
.wp-box table tr td:nth-child(odd){color:#34495e;text-align:center!important;padding: 0!important;}
.wp-list{margin-left: 84px;position: relative;}
.wp-list ul li{line-height: 26px;height: 26px;font-size:14px;color: #666;padding-left: 5px;padding-right: 5px;cursor:pointer}
.wp-list ul li:hover{background:#E8F4FC;cursor:pointer}
.wp-list{border:1px solid #ddd; min-width: 235px;margin-top: -1px; position:absolute;background: #fff;min-height:26px;max-height: 260px;overflow: auto;}
.wm-box select{width: 150px;border:1px solid #ddd;height: 30px;line-height: 30px;border-radius:3px;font-size:14px;color: #0077d6;outline:none;font-family: '微软雅黑'}
.wm-m1 p{font-size: 14px;color: #666;font-family: '微软雅黑 bold'}
.wm-title-mn td{font-size: 14px;color: #666;font-family: '微软雅黑 bold'}

.nav-content{width: 1000px;height:auto;overflow: hidden;}
.nav-content .nav-logo{margin-top: 70px;height: 90px;}
.nav-content .nav-logo .nav-left{margin-left: 300px;float: left;}
.nav-content .nav-logo .nav-right{padding-left: 30px;padding-top: 5px;float: left;}
.nav-content .nav-logo .nav-right p{height: 36px;line-height: 36px;color: #000000; font-size: 18px;}
.nav-border{padding:20px;border:1px solid #ddd;margin-left: 50px;margin-top: 50px;background:#fbfbfb;}
.nav-inform p,.nav-border p{line-height: 32px; font-size: 14px;color:#666;font-family: '微软雅黑'}
.nav-inform{overflow:hidden;margin-top: 30px;margin-left: 50px;}
.nav-border i{color: #f37928}
.nav-inform em{ color: #4e72e7 }
.nav-fh{margin-top: 55px;text-align: center;}
.nav-fh a{ width: 150px;height: 36px;line-height: 36px;overflow: hidden;display: inline-block;font-size: 14px;color: #fff;border-radius: 3px;text-align: center;background:#ec6941;}
.wm-biao2 .tit-bg td{background:#f8f8f8;font-size: 14px;color:#666;font-family: '微软雅黑 bold';}

.wh-name a{height: 24px;line-height: 24px;margin-left: 172px; font-size: 14px;color: #fc8607;font-family: '微软雅黑 bold'}

/*denglu******************************************************/
.wp-header{width:1200px;height: auto;margin:40px auto 0;overflow: hidden;}
.wp-header .header-left{height:65px;line-height:65px;overflow: hidden;float: left;}
.wp-header .header-left img{float: left;}
.wp-header .header-left a{font-size:24px;color: #888;padding-left: 10px;}
.wp-header .header-right{float: right;height: 55px;line-height:80px;vertical-align:bottom;}
.wp-header .header-right span{background: url(../images/wm-logo_03.jpg) 0 1px no-repeat;padding-left: 23px;font-size: 16px;color: #000}
.wp-header .header-right a{font-size: 16px;color: #32539c;}
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
.wp-landing-main{width: 1200px;margin:0 auto;position: relative;z-index: 100}
.wp-l-Img{margin-left:-10px;margin-top: -10px;position: relative;z-index: 10; width: 63px;height: 66px;}
.wp-l-tel{margin-left:-10px;margin-top: -10px;position: relative;z-index: 10; width: 63px;height: 66px;}
.wp-landing-main .wp-landing{width: 260px;height: 300px;position: absolute;right: 0;top: 0;background: #fff;margin-top: -350px;margin-right: 120px;padding: 10px;} 
.wp-wxsm{margin-top: -68px;margin-left: 50px;position: relative;z-index: 110}
.wp-wxsm a{font-size: 12px;color: #2b4786}
.wb-title{width: 220px;overflow: hidden;height:33px;line-height: 32px;text-align: center;border-bottom: 1px solid #ddd;margin:5px auto 0;position: relative;z-index: 10000}
.wb-title ul li{ float: left;text-align: center;width: 110px;}
.wb-title ul li a{font-size: 16px;color:#2b4786;font-family: '微软雅黑'}
.wb-title ul li .for{border-bottom:1px solid #2b4786; display: inline-block; width: 110px;}
.wb-landing-con{overflow: hidden;}
.wb-landing-con .wb-landing-password,.wb-landing-con .wb-landing-name{margin-top: 20px;position: relative;}
.wb-landing-con .wb-landing-name [type="text"]{width: 220px;height: 32px;line-height: 32px;border:1px solid #ddd;border-radius: 3px;background: #fff;display: inline-block;font-size: 14px;color: #a1a1a2;padding-left: 38px;outline:none;}
.wb-landing-con .wb-landing-name .wb-name{background: url(../images/name_03.png) center no-repeat #eee;position: absolute;width:32px;height: 32px;outline:0;left: 1px;top: 1px;}
.wb-landing-con .wb-landing-password .wb-password{background: url(../images/name_06.png) center no-repeat #eee;position: absolute;width:32px;height: 32px;outline:0;left: 1px;top: 1px;}
.wb-landing-con .wb-landing-password [type="password"]{width: 220px;height: 32px;line-height: 32px;border:1px solid #ddd;border-radius: 3px;background: #fff;display: inline-block;font-size: 14px;color: #a1a1a2;padding-left: 38px;outline:none;}
.wb-landing-con .wb-yzm a{margin-left: -90px; width: 80px;height: 24px;line-height: 24px;background: #4774d8;font-size: 12px;color: #fff;border-radius: 3px;display: inline-block;text-align: center;}
.wb-landing-con .wb-landing-yzm{margin-top:5px;}
.wb-landing-con .wb-landing-yzm [type="text"]{ width: 100px;height:32px;line-height: 32px;border:1px solid #ddd;border-radius: 3px;background: #fff;display: inline-block;font-size: 14px;color: #a1a1a2;padding-left:5px;outline:none;}
.wb-landing-con .wb-landing-yzm .wb-yzm-tp{height: 32px;line-height: 32px;border:1px solid #ddd;display: inline-block; vertical-align: top;margin-left: -5px;}
.wb-landing-con .wb-landing-yzm img{margin-top: 5px;vertical-align: top;}
.wb-wjmm{font-size: 12px;color: #3157b0;margin-left: 5px;}
.wb-denglu{margin-top: 14px;}
.wb-denglu a{ width: 260px;height: 32px;line-height: 30px;color: #fff;display: inline-block;text-align: center;font-size: 16px;border-radius: 3px;background: #426cca}
.wb-ljzc{padding: 0;height: 30px;line-height: 30px;width: 260px;text-align: right;background: #eff2f6;margin-top: 12px;margin-left: -10px;padding-right:9px;padding-left:11px;}
.wb-ljzc a{font-size: 12px;color: #32539c;}
.wb-top{margin-top: 25px!important}
.wb-dl-top{margin-top: 20px!important;}
.wb-dl-top1{margin-top:41px!important;}
.wb-smdl{text-align: center;border-bottom: 1px solid #2b4786;}
.wb-smdl a{font-size: 16px;color:#2b4786;font-family: '微软雅黑'}
.wp-nav .wm-ewm{width: 260px;text-align: center;}
.wp-nav .wm-ewm{margin-top: 40px;}
.wm-landing-ewm{margin-top: 10px;font-size: 14px;color: #333;margin-bottom: 36px;}
.wm-landing-ewm a{color: #32539c; font-size: 14px;font-family: '微软雅黑'}



/*证书*/
.wm-zs{width: 900px;margin:0 auto;overflow:hidden;}
.wm-zs .wm-zs-header{height: 36px;line-height: 36px;margin-top: 200px;font-size:48px; text-align: center; color: #333;font-family: '华文隶书'}
.wm-zs-name{color: #000;font-size: 24px;font-family: '华文楷体';margin-left:150px;margin-top: 100px;}
.wm-s-new{margin-left: 220px;margin-top: 50px;}
.wm-s-new p{width: 380px;font-size:22px;color: #333;line-height:36px;font-family: '华文楷体';text-indent: 2em;}
.wm-zs-tc{margin-left: 220px;margin-top: 20px;font-size:22px;color: #333;line-height:36px;font-family: '华文楷体';text-indent: 2em;}
.wm-zs-Img{background: url(../images/tt.png) no-repeat right;width:900px ;height: 197px;text-align: right;}
.wm-zs-Img span{font-size:24px;color: #333;margin-top: 20px;padding-right:22px;margin-top: 150px;display: inline-block;font-family: '华文楷体'}


/*注册*/
input {outline:none;}
.zc-main{background:url(../images/zhuce_03.png) no-repeat;background-size: 100%;width:1200px;height:700px;margin:0 auto;overflow: hidden;}
.zc-content{width: 890px;height:590px;margin:50px 150px;background: #fff;border-radius: 3px;}
.zc-content .zc-title{background: #c00;height: 60px;line-height: 60px;text-align: center;}
.zc-content .zc-title span{background: url(../images/bb_03.png) no-repeat center;font-size:22px;color: #fff;height: 71px;display:inline-block;}
.zc-nr{margin-top: 30px;}
.zc-nr ul li{line-height: 50px;margin-left: 200px;}
.zc-nr .zc-name .m-1{width: 120px;font-size: 14px;color:#666;text-align: right;display: inline-block;}
.zc-nr .zc-name .m-2 [type="text"]{width: 280px;height: 30px;line-height: 30px;border:1px solid #ccc;display: inline-block;border-radius: 3px;font-size: 14px;color: #666;padding-left: 5px;}
.zc-nr .zc-qrpassword .m-1,.zc-nr .zc-password .m-1{width: 120px;font-size: 14px;color:#666;text-align: right;display: inline-block;}
.zc-nr .zc-password .m-2 [type="password"]{width: 280px;height: 30px;line-height: 30px;border:1px solid #ccc;display: inline-block;border-radius: 3px;font-size: 14px;color: #666;padding-left: 5px;}
.zc-nr .zc-qrpassword .m-2 [type="password"]{width: 280px;height: 30px;line-height: 30px;border:1px solid #ccc;display: inline-block;border-radius: 3px;font-size: 14px;color: #666;padding-left: 5px;}
.zc-tel i{position: absolute;margin-left:15px;}
.zc-tel em{position: absolute;margin-left: 60px;color:#999}
.zc-tel .m-1{width: 120px;font-size: 14px;color:#666;text-align: right;display: inline-block;}
.zc-tel .m-2 .tel{width: 215px;height: 30px;line-height: 30px;border:1px solid #ccc;display: inline-block;border-radius: 3px;font-size: 14px;color: #666;padding-left:70px;}
.e-mail{height: 20px;line-height: 20px;margin-left: 350px;}
.e-mail a{font-size: 14px;color: #0374bf;font-family: '微软雅黑';text-decoration: underline}
.zcsj-yzm .m-1,.zc-yzm .m-1{width: 120px;font-size: 14px;color:#666;text-align: right;display: inline-block;}
.zcsj-yzm .m-3 [type="text"],.zc-yzm .m-3 [type="text"]{width: 140px;height: 30px;line-height: 30px;border:1px solid #ccc;display: inline-block;border-radius: 3px;font-size: 14px;color: #666;padding-left: 5px;}

.zc-yzm .mw{border:1px solid #ddd;height:30px;vertical-align: middle;margin-left:5px;margin-top: -3px;}
.zcsj-yzm .hqyzm{width: 135px;height: 32px;line-height: 32px;background: #c00;border-radius: 3px;display: inline-block;text-align: center;font-size: 14px;color: #fff;}

.wm-tl{height: 36px;line-height: 36px;margin-top: 10px;text-align: center;}
.wm-tl [ type="radio"]{vertical-align: middle;margin-top: -3px;margin-right: 5px;}
.wm-tl a{font-size: 14px;color:#c00;font-family: '微软雅黑' }
.zhuce{text-align: center;margin-top: 10px;padding-left: 10px;}
.zhuce a{ width: 300px;height: 32px;line-height: 32px;font-size: 16px;color: #fff;border-radius: 3px;background: #c00;display: inline-block;}
.xian{ width: 500px;border-top: 2px solid #c00;height: 2px; display: inline-block;margin-top: 25px;margin-left: 200px;}

.error{height:14px;line-height:14px;font-size: 12px;color:#ff000c}



.wp-list ul li.active{background: #E8F4FC;}
.error{height:14px;line-height:14px;font-size: 12px;color:#ff000c}

.wp-list ul li.active{background: #E8F4FC;}

/*会员服务*/
.wk-top{margin-top:0px!important;}
.wp-title{background: url(../images/ccf_03.png) 0 12px no-repeat;padding-left: 15px;margin-left: 15px;margin:10px 0; height:42px;line-height:42px;font-size: 18px;font-family: "微软雅黑  bold ";color: #25629b; font-weight: bold; }
.wk-box{width:800px;line-height:46px;}
.wk-box table{width: 100%;}
.wk-box table tr td{font-size: 14px;color: #333;border: 1px solid #ddd;}
.wk-box table tr td:nth-child(odd){background:#f2f9ff;color: #666;width: 240px;text-align: right;padding-right: 50px;}
.wk-box table tr td:nth-child(even){padding-left: 70px;color: #333;}


/****************************************个人信息维护2017-09-26 16:30*/
.nav-main{
    width: 1000px;
    padding: 12px;
    border: 2px solid #c00;
    border-top: 2px solid #c00;
    background: #f7f7f8;
}
.nav-content{
    width: 998px;
    border:1px dashed #c00;
    background: #fff;
}
.nav-title{
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    font-weight: bold;
    color: #34495e;
    text-align: center;
}
.nav-box{
    overflow: hidden;
    height: auto;
}
.nav-box table{
    width: 1000px;
    height: auto;
  
}
.nav-box table tr{
     border-top:1px solid #ddd;
    border-left:1px solid #ddd;
}
.nav-box table tr td{
    border-right:1px solid #ddd;
    border-bottom:1px solid #ddd;
    height: 45px;line-height: 45px;
    font-size: 14px;color: #34495e;
    font-family: "微软雅黑";
}
.nav-box table tr td i{color: #ff0000;padding-left: 8px;vertical-align: middle;}
.nav-box table tr .mn01{padding-left: 30px; width: 125px;}
.nav-box table tr .mn02 input[type="text"]{ width:250px;height:28px;line-height: 28px; font-family: "微软雅黑"; font-size: 14px; border: 1px solid #eee; color: #34495e; background: #fff;margin-right: 5px;padding-left: 5px;}
.nav-box table tr .mn02{ padding-left: 20px;}
.nav-box table tr .mn03{padding-left: 30px; width: 125px;}
.nav-box table tr .mn04 input[type="text"]{ width:250px;height:28px; font-family: "微软雅黑";line-height: 28px; font-size: 14px; border: 1px solid #eee; color: #34495e; background: #fff;margin-right: 5px;padding-left: 5px;}
.nav-box table tr .mn04{padding-left:20px;}
.nav-box table tr .mn04 input[type="radio"]{margin-right:5px;font-size: 14px;vertical-align: middle;margin-top: -3px;}
.nav-box table tr .mn04 select{ width: 110px;height: 30px;line-height: 30px;border:1px solid #ddd;color:#34495e;font-size: 12px; font-family: "微软雅黑";}
.nav-box table tr .mn02 input[type="radio"]{margin-right:5px;font-size: 14px;vertical-align: middle;margin-top: -3px;}
.nav-box table tr .mn02 select{ width: 200px;height: 30px;line-height: 30px;border:1px solid #ddd;color:#34495e;font-size: 12px; font-family: "微软雅黑";}
.nav-box table tr .mn02>textarea{resize: none;width: 800px;height:45px;border:1px solid #eee;font-size: 14px;color:#34495e;vertical-align: middle;margin: 10px 0;padding-left: 5px; font-family: "微软雅黑";}
.nav-box table tr .mn05{font-weight:bold;padding-left: 30px;}
.nav-box table tr .mn06{ padding-left: 30px;}
.nav-box table tr .mn06 input[type="checkbox"]{margin-right: 10px;vertical-align: middle;margin-top: -3px;}
.mn-bc{text-align: center;margin: 20px 0}
.mn-bc a{width: 150px;height: 36px;line-height: 36px;text-align: center;background:#38a1d7;font-size: 14px;color: #fff;display: inline-block;border-radius: 3px;}

/**************************************************弹出*/
.info{position: fixed; left: 0; top: 0; width: 100%;height: 100%; background: rgba(0,0,0,0.55); z-index: 1000;}
.info .inim{width:500px;height:260px;margin: 0 auto; border-radius: 3px; background: #fff;  position: absolute;top: 50%;left: 50%; margin-left: -250px; margin-top: -130px; }
.in-title{height: 36px;line-height: 36px;background:#f5f5f5;border-bottom: 1px solid #ddd;}
.in-title .in-l{float: left;margin-left: 20px;font-size: 14px;color:#666;}
.in-title .in-f{float: right;padding-right: 15px;}
.in-title .in-f>img{vertical-align: middle;margin-top: -3px;}
.info .inim .in-main{overflow: hidden;padding-top: 40px;padding-left: 60px;}
.info .inim .in-main ul li{line-height: 36px;margin-bottom: 10px;}
.info .inim .in-main ul li .mn01{width: 100px;text-align: right;font-size: 14px;color: #333;display: inline-block; font-family: "微软雅黑";}
.info .inim .in-main ul li .mn02{font-size: 14px;color: #333;}
.info .inim .in-main ul li .mn02 input[type="text"]{width: 120px;height: 30px; font-family: "微软雅黑";padding-left:5px;border:1px solid #ddd;border-radius: 3px;font-size: 14px;color: #333;}
.info .inim .in-main ul li .mn02 a{width: 80px; font-family: "微软雅黑";height:30px;line-height: 30px;font-size: 14px;color: #666;display: inline-block;border:1px solid #ddd;text-align: center;border-radius: 3px;margin-left: 10px;}
.deter{text-align: center;}
.deter a{width: 60px;height:32px;line-height: 32px;font-size: 14px;color: #fff;display: inline-block;border:1px solid #ddd;text-align: center;border-radius: 3px; font-family: "微软雅黑";background: #288dce}


/*版权*/
.link_btn{width: 1200px;height: 100px;margin:0 auto;overflow: hidden;}
.link_btn .link_cet{padding: 20px 0;text-align: center;}
.link_btn .link_cet p{line-height: 30px;}


/*系统设置*/
.dq2{background:  url(../images/shouye_03.png) 0 17px no-repeat #fff;padding-left: 30px;}
.wm_bg{background: #fff;width: 1200px;margin:20px 0 0 0;padding-left: 20px;}
.wp-title1{background: url(../images/lk_03.png) 0 12px no-repeat;padding-left: 15px;margin-left: 15px;margin:10px 0; height:42px;line-height:48px;font-size: 16px;font-family: "微软雅黑";color: #333;}
.wm_box{width: 1200px;height: auto;margin:0 auto;overflow: hidden;padding: 20px;}
.wm_box table{width: 1160px;}
.wm_box table tr td{border:1px solid #ddd!important;} 
.wm_box table tr td{height:42px;line-height:42px;text-align: center;font-size: 14px;color: #666;}
.wm_box .wm_b_tit td{background: #4f606b;font-size: 14px;color: #fff!important;}
.shanchu{color: #074b84;}
.wm_im{height: 45px;line-height: 45px;margin-top: 15px;}
.wm_im input[type="text"]{ width: 110px;height: 32px;line-height: 32px;border:1px solid #ddd;font-size: 14px;color:#666;border-radius: 3px;margin-right: 5px;}
.wm_im select{ width: 110px;height: 32px;line-height: 32px;border:1px solid #ddd;font-size: 14px;color:#666;border-radius: 3px;}
.wm_im a{ width: 80px;height: 30px;line-height: 30px;border-radius: 3px;font-size: 14px;color: #fff;background: #25629b;display: inline-block;text-align: center;margin-left: 15px;}


.wm_box1{width:600px;height: auto;overflow: hidden;padding: 20px;text-align:left;}
.wm_box1 table{width: 600px;}
.wm_box1 table tr td{border:1px solid #ddd!important;} 
.wm_box1 table tr td{height:42px;line-height:42px;text-align: center;font-size: 14px;color: #666;}
.wm_box1 .wm_b_tit td{background: #4f606b;font-size: 14px;color: #fff!important;}


/*团体会员注册2017-11-1*/
.wn_con{width:520px;height: 500px;overflow:auto;display: inline-block;}
.wn_con .c_tit{margin-top: 20px;height: 32px;line-height: 32px;font-size: 22px;color: #333;text-align: center;margin-bottom: 15px;}
.wn_con .c_tit a{width: 110px;height: 30px;line-height: 30px;font-size: 14px;color: #fff;background: #2191d6;display: inline-block; border-radius: 3px;text-align: center;float: right;}
.wn_left{margin-left: 10px;}
.wn_con p{line-height: 24px;color: #666;font-size: 14px;text-indent: 2em;margin-bottom: 10px;}
.wn_con h1{font-size: 14px;color: #333;}
.wn_con_tit{overflow: hidden;}
.wn_con_tit .wn_c_name{margin: 10px 0}
.wn_con_tit i{color: #2191d6;font-size: 14px;line-height: 36px;height: 36px;margin-bottom: 5px;display: inline-block;}
.wn_con_tit .name1{font-size: 14px;color: #333;line-height:30px!important;font-weight: bold;margin-left: 30px;}
.wn_con_tit .name1 em{color:#db2828;} 
.main_name{height:90px;}
.main_name p{font-size: 14px;color: #333;font-weight: bold;margin-left: 30px;line-height:26px!important;margin-bottom: 0px!important;}
.buzhou{overflow: hidden;}
.buzhou .bz_tit{height: 30px;line-height: 30px;font-size: 14px;color:#2191d6;}
.buzhou p{line-height: 26px;font-size: 14px;color: #666;margin-bottom: 0px;font-weight: bold;}
.xiazai{text-align: center;margin:20px 0;}
.xiazai a{width: 260px;height: 30px;line-height: 30px;font-size: 14px;color: #fff;border-radius: 3px;display: inline-block;text-align: center;background:#ffaa31}
.wn_error{height: 10px;line-height: 10px; font-size: 14px;color: #ff0000;display: inline-block;margin-left: 5px}



/*---------------手机注册忘记密码 2019-8-27*/
.mui-bar{
    display: none;
}
.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: "";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow: hidden;
}
.login_tip{
    display: none;
}

@media screen and (max-width: 750px) {
    .mui-bar{
        display: block;
    }
    .mui-bar.type2 {
        background-color: #0c5192;
    }
    .mui-bar.type2 a {
        color: #fff;
    }
    .mui-bar.type2 .mui-title {
        color: #fff;
    }
    .wp-header,.zc-main,.zc-content{
        width: 100%;
        margin: 0;
        height: auto;
    }
    .wp-header{
        display: none;
    }
    .zc-main{
        overflow: auto;
        background: none;
        padding-top: 44px;
    }
    .zc-content .zc-title{
        display: none;
    }
    .zc-nr{
        margin-top: 0;
    }
    .zc-nr ul{
        padding: 0 15px;
    }
    .zc-nr ul li{
        margin-left: 0;
        border-bottom: 1px solid #eee;
    }
    .zc-nr ul li .m-1{
        float: left;
        width: 28% !important;
        text-align: left !important;
    }
    .zc-nr ul li .m-2{
        float: left;
        width: 72%;
    }
    .zc-nr .zc-name .m-2 [type="text"],.zc-nr .zc-password .m-2 [type="password"],.zc-nr .zc-qrpassword .m-2 [type="password"],.zc-tel .m-2 .tel{
        width: 100%;
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 0;
    }
    .xian{
        display: none;
    }
    .error{
        float: left;
        width: 100%;
        padding-left: 29%;
        height: auto;
    }
    .e-mail{
        float: left;
        width: 100%;
        padding-left: 29%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .zc-yzm .m-3 [type="text"],.zcsj-yzm .m-3 [type="text"]{
        width: 120px;
        margin-bottom: 0;
    }
    .zc-yzm .mw,.zcsj-yzm .hqyzm{
        width: 100px;
    }
    .zhuce{
        padding: 0 15px;
    }
    .zhuce a{
        width: 100%;
        background: #c00;
    }
    .mui-bar.type2 a img{
        display: block;
        width: 20px;
    }
    .bg-img{
        width: 100%;
        height: 100%;
        background: url("../images/app-txh_08.png") no-repeat left bottom;
        -webkit-background-size: 100% auto;
        background-size: 100% auto;
    }
    /*.mui-icon-back:before, .mui-icon-left-nav:before{*/
        /*content: '';*/
    /*}*/
    .zc-tel i {
        margin-left: 5px;
    }
    .zc-tel em{
        margin-left: 45px;
    }
    .zc-tel .m-2 .tel{
        padding-left: 57px;
    }
    .login_tip{
        text-align:center;
        margin-top:50px;
        display:flex;
        align-items: center;
    }
    .login_tip a{

        text-align: center;
        line-height: 28px;
        position: relative;
        padding:0 10px
    }
    .login_tip i{
        display:block;
        height:1px;
        background:#E8E8E8;
        flex:1 1;
    }
}
